

section article.choseLessonParams{
    position: fixed;
    z-index: 5;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -55%);
    width: 860px;
    height: 540px;
    background-color: white;
    display: flex;
    /* padding-right:2rem; */
}

section article.choseLessonParams .illustrationContainer{
    background-color: #E3F8FD;
    flex: 0 0 40%;
    margin-right:1.5rem;


    display: flex;
    align-items: center;
}

section article.choseLessonParams .illustrationContainer img{
    width: 100%;
    vertical-align: middle;
    height: fit-content;
}

section article.choseLessonParams .lessonParams{
    flex: 1;
}

section article.choseLessonParams .lessonParams button.close{
    width: 1.2rem;
    height: 1.2rem;
    background:none;
    border:none;
    float:right;
    position: relative;
    top:0.4rem;
    right: 0.4rem;
}

section article.choseLessonParams .lessonParams button:hover{
    cursor: pointer;
}


section article.choseLessonParams .lessonParams button.close img{
    width: 100%;
}

section article.choseLessonParams .lessonParams h2{
    font-size: 1.2rem;
    margin-top: 2rem;
}

section article.choseLessonParams .lessonParams p{
    font-size: 0.9rem;
    margin-right: 1rem;
    margin-top:1.2rem;
}

section article.choseLessonParams .lessonParams form .dropdown:last-child img{
    width:1.5rem;
    scale:0.8;
}

.choseLessonParams .dropdown:last-of-type .dropdown-menu{
    max-height: 180px;
}

#lessonParamsForm .dropdown{
    margin-top:1.3rem;
}

.lessonParams button.finishLessonParams{
    position: absolute; /* Position relative to the container */
    bottom: 4.4rem;          /* Stick to bottom */
    right: 2rem;    
    background-color: rgba(17, 179, 187, 0.8);
    color: white; 
    font-size: 1.5rem; 
    padding: 0.1rem 0.4rem; 
    padding-top:0.05rem;
    padding-bottom: 0.2rem;;
    border: none;
    border-radius: 0.3rem; 
    cursor: pointer;
   }
  
   #lessonParamsForm button.disableSubmit{
      background-color: rgba(17, 179, 187, 0.4);
      cursor:default;
  
   }
   