.footer {
    background-color: #155457;
    color: white;
    text-align: center;
    padding: 2rem 0;
    /* margin-top: 2rem; */
    font-size: 1rem;
    z-index: 2;
    position: relative;
}

.footer p{
    margin: 0;
}


@media (max-width: 700px) {

    .footer{
        padding: 1.5rem 0;
        font-size: 1rem;
    }


}