section.reviews{
    background-color: rgba(17, 179, 187, 0.5);
    margin:0 auto;
    margin-top:4rem;
    margin-bottom:7rem;
    height: 28rem;
    width: 95%;
    border-radius: 2.3rem;
    padding-top:0.5rem;
}

section.reviews h2{
    display: block;
    color:white;
    margin: 1.5rem auto 4rem auto; /* Top: 2rem, Left & Right: auto, Bottom: 1rem */
    width: fit-content;
}

article.reviewContainer{
    width:18rem;
    height:16rem;
    background-color: white;
    border-radius: 1.4rem;
    padding-left:1rem;
}

img.star {
    font-size: 2rem;
    width:1rem;
    height:1rem;
    margin-top:1rem;
    margin-left:0.5rem;
    margin-bottom: 0;
}

.starRating{
    margin-bottom:0.5rem;

}

.starRating .star:first-child{
    margin-left:0rem;

}

.reviewContainer p.name{
    margin-top:0;
    font-weight: bolder;
    margin-bottom:0;
}

.reviewContainer{
    margin-bottom:4rem;

}

.reviewContainer p.lessonInfo{
    margin-top:0.5rem;
    font-size: 0.85rem;
}

.reviewContainer p.remarks{
    font-size: 0.9rem;

}

.reviewContainer  .bottom{
    height: 3rem;
}

.reviewContainer  .profile{
    width:3rem;
    height:3rem;
    border-radius: 0.5rem;
    margin-top:0;
    padding:0;

}

.reviewContainer p.hourInfo{
    position: relative;
    top:0.1rem;
    font-size: 0.9rem;
    width:13rem;
    display: inline-block;
    margin-left:1rem;
    margin-top:0;
    padding:0;
    vertical-align: top;
}


.reviews .reviewsFlex{
    display: flex;
    gap:2rem;
    justify-content:center;
}





@keyframes dot-keyframes {
    0% {
        opacity: 0.4;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.4;
    }
}

.loading-dots {
    color: white;
    text-align: center;
    width: 100%;
}

.loading-dots--dot {
    animation: dot-keyframes 1.5s infinite ease-in-out;
    background-color: #ffffff;
    border-radius: 50%;
    display: inline-block;
    height: 5px;
    width: 5px;
    margin: 0 2px; /* Adds spacing between dots */
}

/* Animation delay for each dot */
.loading-dots--dot:nth-child(2) {
    animation-delay: 0.3s;
}
.loading-dots--dot:nth-child(3) {
    animation-delay: 0.6s;
}