section.reviews{
    background-color: rgba(17, 179, 187, 0.5);
    margin:0 auto;
    margin-top:4rem;
    margin-bottom:7rem;
    min-height: 28rem;
    width: 95%;
    border-radius: 2.3rem;
    padding-top:0.5rem;
}

section.reviews h2{
    display: block;
    color:white;
    margin: 1.5rem auto 4rem auto; /* Top: 2rem, Left & Right: auto, Bottom: 1rem */
    width: fit-content;
}

article.reviewContainer{
    max-width:23rem;
    height:fit-content;
    background-color: white;
    border-radius: 1.4rem;
    padding-left:1rem;
    padding-right:1rem;
    margin: 0 auto;
    flex:1;
}

article.reviewContainer:not(:last-of-type) {
    margin-right: 2rem;
  }

img.star {
    font-size: 2rem;
    width:1rem;
    height:1rem;
    margin-top:1rem;
    margin-left:0.5rem;
    margin-bottom: 0;
}

.starRating{
    margin-bottom:0.5rem;

}

.starRating .star:first-child{
    margin-left:0rem;

}

.reviewContainer p.name{
    margin-top:0;
    font-weight: bolder;
    margin-bottom:0;
}


.reviewContainer p.lessonInfo{
    margin-top:0.5rem;
    font-size: 0.85rem;
}

.reviewContainer p.remarks{
    font-size: 0.9rem;
    width: 5rem;

}

.reviewContainer  .bottom{
    height: fit-content !important;
    width: 100%;
    margin-bottom:1rem;
    /* display: flex; */


}

.reviewContainer  .profile{
    width:3.2rem;
    height:3.2rem;
    border-radius: 0.5rem;
    margin-top:0;
    padding:0;
    float:left;
    margin-right: 0.8rem;
    margin-bottom: 1rem;
}

.reviewContainer p.hourInfo{
    position: relative;
    /* top:0.1rem; */
    font-size: 0.9rem;
    max-width:17rem;
    width: fit-content;
    /* display: inline-block; */
    display: block;

    margin-left:0rem;
    margin-top:0;
    padding:0;
    margin-bottom:0;
}

.reviews .container{
    margin-bottom:4rem;

}


.reviews .reviewsFlex{
    display: flex;
    gap:0.1rem;
    justify-content:space-between;
    align-items: center;
    height: fit-content;

}

.reviews button.changeReview{
    position: relative;
    height: 1.8rem;
    background-color: rgba(17, 179, 187, 0.8);
    color: white; 
    border: none;
    border-radius: 50%; 
    cursor: pointer;
    display: flex;
    justify-content: center;  /* Horizontally centers the content */
    align-items: center;      /* Vertically centers the content */
    padding:0.7rem;
    box-sizing: border-box;
    margin:1rem;
}

.reviews button.changeReview:hover{
    background-color: rgba(17, 179, 187, 1);

}

.changeReview.left svg{
    left:0.4rem;
    transform: rotate(180deg);

}

.changeReview.right svg{
    right:0.4rem;

}

.reviewPanel{
    display: flex;
    /* width: fit-content; */
    max-width: 99vw;
}

.dots-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
    margin-right:4rem;
    margin-left: 4rem;
    padding-bottom: 2rem;
    flex-wrap: wrap;

  }
  
  .dot {
    min-width: 5px;
    height: 5px;
    border-radius: 50%;
    margin: 0 5px;
    background-color: grey; /* Default color for inactive dots */
    margin-bottom: 1rem;
  }
  
  .dot.active {
    background-color: white; /* Active dot color */
  }



@keyframes dot-keyframes {
    0% {
        opacity: 0.4;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.4;
    }
}

.loading-dots {
    color: white;
    text-align: center;
    width: 100%;
}

.loading-dots--dot {
    animation: dot-keyframes 1.5s infinite ease-in-out;
    background-color: #ffffff;
    border-radius: 50%;
    display: inline-block;
    height: 5px;
    width: 5px;
    margin: 0 2px; /* Adds spacing between dots */
}

/* Animation delay for each dot */
.loading-dots--dot:nth-child(2) {
    animation-delay: 0.3s;
}
.loading-dots--dot:nth-child(3) {
    animation-delay: 0.6s;
}



@media (max-width: 920px) {
    .reviewPanel{
        display: grid;
        grid-template-columns: repeat(2, 0.5fr); 
        grid-auto-rows: auto;       /* only grow rows as needed */
        justify-items: center;    
        align-items: center;    
        gap:1rem;
        box-sizing: border-box; 
        width: 90%;
        margin: 0 auto;
        height: fit-content !important;
        padding:0.2rem;
    }

    .reviewPanel > :only-child {
        grid-column: span 2;
    }

    .reviewPanel .reviewContainer{
        margin: 0 !important;
    }

    section.reviews{
        height: fit-content !important;
    }

    .reviewContainer p.hourInfo{
        margin-left: 0rem;
    }

    section.reviews h2{
        margin-bottom: 1.5rem;
        font-size: 1.3rem;
    }

    .reviews .reviewsFlex{
        padding-left: 0.5rem;
        padding-right:0.5rem;
    }


    .reviews button.changeReview {
        height: fit-content;
        width: fit-content;
        margin: 0;
        padding:0.3rem;
        
    }

    .reviews button.changeReview svg{
        width: 1rem;
        height: 1rem;
    }

    .dots-container{
        padding-bottom: 2rem;
    }

    .reviewContainer p.name{
        font-size: 1rem;
    }

    .reviewContainer p.Remarks, .reviewContainer .bottom{
        font-size: 0.95rem;
    }

    .starRating{
        margin-top: 0.4rem;
    }

    img.star {

    
      margin-left: 0.4rem;
    }
}


@media (max-width: 520px) {

    .reviews button.changeReview {
  
        padding:0.2rem;
 
    }

    .reviewPanel .reviewContainer{
        padding:0.68rem;
    }

    .reviewPanel{
        display: grid;
        grid-template-columns: repeat(1, 1fr); 
        grid-auto-rows: auto;       
    }

    section.reviews h2{

        font-size: 1.2rem;  
    }

    .dots-container {

        margin-right:2.6rem;
        margin-left: 2.6rem;

    
      }
}