.allLessonContainer .lessonContainer{
    margin:0 auto;
    /* margin-bottom:80vh; */
    margin-top:3rem;
    /* width: 80%; */
    box-sizing: border-box;
    border:2px solid black;
    border-radius: 1rem;
    padding:1rem 1rem 1rem 1rem;
    height: 14rem;
    position: relative;
    display: flex;
    justify-content: space-between;
    height: fit-content;
    

}

.allLessonContainer .lessonContainer:first-of-type{
    margin-top: 2rem;
}

.allLessonContainer{
    min-height: 340px;
}

.allLessonContainer .lessonContainer > img{
    height: 12rem;
    width: 12rem;
    border-radius: 0.5rem;;
}

.allLessonContainer .lessonContainer .infoContainer{
    /* background-color: blue; */
    padding:0.2rem 1rem;
    width: 100%;
}

.allLessonContainer .lessonContainer .infoContainer .top{
    /* background-color: orange; */
    height: fit-content;
    width: 100%;
    margin-bottom: 1.2rem;
}

.allLessonContainer .lessonContainer .infoContainer .top h4{
    margin-top:0;
    display: inline;
    font-size: 1.3rem;


}

.allLessonContainer .lessonContainer .infoContainer .top h4.groupName{
    margin-left:5rem;
    font-size: 1.1rem;
}

.allLessonContainer .lessonContainer .infoContainer .top span{
    font-size: 1.1rem ;
}

.allLessonContainer .lessonContainer .infoContainer .top span *{
    font-size: 1.1rem;
}

.allLessonContainer .lessonContainer .infoContainer .top span img{
    height: 1.1rem;
    margin-top:0;
    margin-right: 0.3rem;
}


.allLessonContainer .lessonContainer .infoContainer .attributes{
    margin-top:0.3rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-right:0;
    gap:1rem;
    width: fit-content;
}

.allLessonContainer .lessonContainer .infoContainer .attributes span{
    width: 13rem;

}

.allLessonContainer .lessonContainer .infoContainer .attributes svg{
    width: 1.2rem;
    margin-right: 0.3rem;

}

.allLessonContainer .lessonContainer .infoContainer .attributes svg.typeOfLesson{
    width: 1.2rem;
    position: relative;
    bottom:0.1rem;
}

.allLessonContainer .lessonContainer .infoContainer .attributes div{
    font-size: 0.9rem;
    width: fit-content;
    display: block;

    /* background-color: red; */
    display: flex;
    justify-content: center;
}



.allLessonContainer .lessonContainer .infoContainer .attributes div svg{
    height: fit-content;
    display: inline;
}

.allLessonContainer .lessonContainer .infoContainer .description p{
    margin-top:0.8rem;
    margin-right: 1rem;
    margin-bottom: 0;
}

.allLessonContainer .lessonContainer .right{
    width: 20rem;
    padding-top:3rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
    align-items: flex-end;

}

.bookLessonReviews section.marginReviews{
    min-height: 200px;
} 


.allLessonContainer .lessonContainer .right .buttonContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

img.star {
    width: 1rem;
    margin-left: 0.5rem;
    margin-bottom: 0;
  }

  .allLessonContainer .lessonContainer .right span{
    display: block !important;
    margin-top: 0.7rem;
    font-size: 1rem;
    margin-right: 0.3rem;
}

.allLessonContainer .lessonContainer .right button {
    background-color: rgba(17, 179, 187, 0.8);
    color: white;
    padding: 0.7rem 0rem;
    border-radius: 0.4rem;
    border:none;
    cursor: pointer;
    margin-top:0.8rem;
    font-size: 0.9rem;
    width: 11rem;
  }

  .allLessonContainer .lessonContainer .right button:first-of-type{
    margin-top: 0.5rem;
  }



   /* menu */

.lessonMenu{
    width: 80%;
    height: fit-content;
    border-radius: 1rem;
    border:1px solid black;
    box-sizing: border-box;
    margin:0 auto;
    margin-top:4rem;
    padding:1.5rem;

}

.lessonMenu .top{
    display: flex;
    height: fit-content;
    box-sizing: border-box;
    margin-bottom:1.5rem;
}

.lessonMenu .top .dropdown {
    height: fit-content;
}

.lessonMenu .top .dropdown:last-of-type{
    margin-right: 0;
}

.lessonMenu .top .necessaryFilters{
    display: flex;
    width: 100%;
    height: fit-content;
}

.lessonMenu .top .necessaryFilters > *{
    /* width: 15rem; */
    margin-bottom: 0 !important;
    flex:1
}

.lessonMenu .top > h4{
    margin-top:0;
    font-size: 1.5rem;
    margin-right:1.5rem;
    margin-bottom: 0;
    width: 8rem;
}


.lessonMenu .top button:hover{
    cursor: pointer;
}

.lessonMenu .calendar .calendarMenu.dropdown-menu{
    margin-top:0.8rem;
    width: fit-content;
    transform:translateX(-30%);
}

.lessonMenu .dropdown.calendar .dropdown-button.selected{
    border:1px solid rgba(17, 179, 187, 0.8);
}



.lessonMenu .secondaryFilters{
    display: flex;
}

.lessonMenu .secondaryFilters .elContainer{
    display: flex;
}

.secondaryFilters .filterContainer {
    display: flex;
    flex-direction: column;
    /* background-color: red; */
    align-items: center;
    width: 6rem;
    margin-right:0rem;

}

.secondaryFilters .filterContainer span{
    font-size: 0.85 rem;
    white-space: nowrap;

}
.secondaryFilters .filterContainer svg{
    width: 1.5rem;
    height: 1.5rem;
}

.lessonMenu .circle {
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border:1px solid black;
    cursor: pointer;
    padding: 0;
}

.lessonMenu .circle.selected{
    border:1px solid rgba(17, 179, 187, 0.8);
    color:rgba(17, 179, 187, 0.8)
}

.filterContainer span {
    margin-top: 6px;
    font-size: 14px;
}

section.allLessonContainer{
    width: 80%;
    margin: 0 auto;
}

section.allLessonContainer.loading article{
    opacity: 0.5;
    pointer-events: none;
    transition: opacity 0.3s ease;
    
}


.lessonMenu .right {
    display: flex;
    width: 100%;
    justify-content: flex-end; /* Pushes .right to the right */
    align-items: center; /* Optional, aligns items vertically */
    font-size: 2rem;
}

.lessonMenu .right .cancelBtn{
    height: 34.4px;
}

.lessonMenu .right .cancelBtn.clicked{
    border:1px solid rgba(17, 179, 187, 0.8);
}

.lessonMenu .right .cancelBtn.clicked svg{
    color:rgba(17, 179, 187, 0.8);

}

.lessonMenu .right .cancelBtn svg{
    width: 1rem;
    height: 1rem;
    margin-right:0.5rem;
    position: relative;
    top:0.05rem;
}

.lessonMenu .right .dropdown{
    box-sizing: border-box;
    height: fit-content;
    margin:0;
    margin-left:1.8rem;

}

.lessonMenu .right .dropdown img{
    transform: rotate(-90deg);
}

.lessonMenu .right button{
    color: black;
    box-sizing: border-box;
    padding: 0.5rem 0.35rem;
    border-radius: 0.4rem;
    border:none;
    cursor: pointer;
    font-size: 0.85rem;
    background-color: white;
    border:1px solid black;
    width: 12rem;
    display: flex;
    align-items: center;
}

.lessonMenu .right .dropdown button{
    width: 14.6rem;
}


.lessonMenu .right button.cancelBtn img{
    height: 0.5rem;
    margin-left:0.2rem;
    margin-right:0.5rem;
}


.belowMenu{
    /* background-color: red !important; */
    width: 80%;
    margin:0 auto;
    font-size: 1.3rem;;
    /* line-height: 1.9rem;; */
    margin-top:2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
}

.belowMenu p{
    font-size: 1.5rem;
    margin-top:0.5rem;
}

.belowMenu label.search{
    padding: 0rem 0rem;
    border-radius: 0.4rem;
    border:none;
    cursor: pointer;
    border:1px solid black;
    background-color: white;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.belowMenu label.search.selected{
    border:1px solid rgba(17, 179, 187, 0.8);
}

.belowMenu .search svg{
    margin-left: 0.2rem;
}

.belowMenu .search input{
    border: none;
    outline: none;
    margin: 0.5rem;
    margin-left:0.2rem;
}

.allLessonContainer + .pagination{
    width: 80%;
    margin: 0 auto;
    margin-top: 1rem;
}

.allLessonContainer .lessonContainer .right button a{
    text-decoration: none;
    color:inherit
}



/* necessary filters */

@media (max-width:1400px){
    .lessonMenu .top{
        flex-direction: column;
    
    }

    .lessonMenu .dropdown{
        margin-right: 0rem;
    }

    .lessonMenu .top > h4{
        margin-bottom: 1rem;
    }

    .lessonMenu .top .necessaryFilters{
        display: grid;
        grid-template-columns: repeat(2, 0.5fr); 
        gap:1rem;

    }

    .lessonMenu .calendar .calendarMenu.dropdown-menu{
        transform: none;
        width: 100%;
    }

}


 /* necessary filters */


@media (max-width:890px){

    .lessonMenu .top .necessaryFilters{
        display: flex;
        flex-direction: column;
        gap:1rem;

    }

    .lessonMenu .top .dropdown{
        width: 100%;
    }

    .lessonMenu .dropdown.dropdown ul.dropdown-menu li{
        font-size: 0.9rem;
    }

    .lessonMenu .dropdown button.dropdown-button{
        font-size: 0.9rem;
    }

}




@media (max-width:380px){
    .lessonMenu {
        padding:0.5rem;

      }
}

@media (min-width:380px) and (max-width:500px){
    .lessonMenu {
        padding:0.8rem;
        
      }
}

@media (max-width:500px){
    .lessonMenu {
        width: 95%;

      }

      .lessonMenu .filterContainer{
        margin-left:0.2rem;
      }

}



/* secondary filters */

@media (max-width:1300px){
    .lessonMenu .secondaryFilters{

        flex-direction: column;
    }

    .lessonMenu .elContainer{
        width: 100%;
    }

    .secondaryFilters .filterContainer{
        width: fit-content;
        margin-right: 3rem;
    }

    .lessonMenu .right {
        margin-top: 1rem;
        justify-content: flex-start;
    }
}

@media (max-width:700px){
    .secondaryFilters .filterContainer{
        margin-right: 2rem;
    }

    .bookLessonReviews section.marginReviews{
        min-height: 100px;
    }
}

@media (max-width:600px){
    .lessonMenu .secondaryFilters .elContainer {
        display: grid;
        grid-template-columns: repeat(3, fit-content(100%));
        gap:1rem;
        margin: 0 auto;
        width: 98%;
        justify-content: space-between;
        
      }

      .secondaryFilters .filterContainer{
        margin-right: 0;
        width: 3rem;
      }

      .lessonMenu .right{
        flex-direction: column;
        align-items: flex-end;
      }

      .lessonMenu .right .dropdown{
        margin-left: 0;
        margin-top: 1rem;
      }

      .lessonMenu .right button,.lessonMenu .right .dropdown button {
        width: 15rem;
        font-size: 0.9rem;
      }

}



/* below menu */


@media (max-width:500px){
    .belowMenu{
        width: 95%;
    }
}

@media (max-width:900px){
    .belowMenu{
        flex-direction: column;
        font-size: 1.2rem;
        margin-bottom: 1rem;
    }

    .belowMenu .textContainer {
        align-self: flex-start;
    }
    
    .belowMenu p{
        font-size: 1.2rem;
        display: inline-block;
        
    }

    .belowMenu label.search{
        align-self: flex-end;
    }
    
    .belowMenu br.desktop{
        display: none;
    }

    #searchInput{
        font-size: 0.9rem;
        margin-left: 0.1rem;
    }

    .belowMenu .search svg{
        scale:0.9
    }
}




 /* lessonContainer */


 @media (max-width:770px){
    .allLessonContainer .lessonContainer{
        margin:  0  !important;
        width: 100% !important;
        max-width:360px !important;
    }

    section.allLessonContainer{
        display: flex !important;
        align-items: center !important;
        flex-wrap: nowrap !important;
        flex-direction: column !important;
        width: fit-content;

    }

    .allLessonContainer .lessonContainer > img{
        max-width: 350px;

    }

    .allLessonContainer + .pagination{
        max-width: 360px;
        margin: 0 auto;
        margin-top: 1rem;
    }
    

    

 }

@media (max-width:1150px){

    section.allLessonContainer {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        
        
        gap:1rem;
        box-sizing: border-box;
        justify-content: space-between;
        width: 80% !important

    }

    .allLessonContainer .lessonContainer{
        flex-direction: column;
        margin-right: 0rem;
        padding-left: 1rem;
        margin-top: 0 !important;
        margin-bottom: 1rem;
        width: 100%;
        max-width: 420px;

    }

    .allLessonContainer .lessonContainer > img{
        margin-bottom: 1rem;
        width: 100%;
    }

    .allLessonContainer .lessonContainer .infoContainer{
        padding-left:0;
 
    }

    .allLessonContainer .lessonContainer .right{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items:start;
        justify-content: flex-end;

    }

    .allLessonContainer .lessonContainer .right .spanContainer{
        margin-right: 1rem;
    }

    .allLessonContainer .lessonContainer .infoContainer .attributes span {
        width: 10rem;
      }

    .allLessonContainer .lessonContainer .right button{
        width: 10rem;
    }

    .allLessonContainer .lessonContainer .infoContainer .description p{
        font-size: 0.9rem;
        margin-right: 0;
        min-height: 5rem;
    }

    .allLessonContainer .lessonContainer .infoContainer .top h4.groupName{
        display: block;
        margin-left:0;
        margin-top: 0.5rem;
    }

    .allLessonContainer p.notFound{
        font-size: 1.3rem !important;
    }


  }





  @media (max-width:500px){
    .allLessonContainer .lessonContainer .infoContainer .attributes span {
        width: 9rem;
      }

  }

  @media (max-width:1000px){
    .allLessonContainer .lessonContainer .infoContainer .attributes{
        display: flex;
        flex-direction: column;
    }

   
  }














/* copy paste from calendar.css to apply to this file specifically for 1200px */

@media (max-width: 1200px) {

    .lessonMenu .calendar .calendarMenu.dropdown-menu{
      padding:0.2rem;
    }

    .lessonMenu .calendar-day {
      box-sizing: border-box;
      padding: 0.0rem ;
      font-size: 0.8rem;
      margin: 0.1rem !important;
      /* user-select: none; */
    }

    .lessonMenu .calendar-day span{
      display: inline-block;
      box-sizing: border-box;
      height: 20px;
      text-align: center; /* center horizontally */
      padding: 0.1rem;
      max-width: 1.4rem;
      width: 100%;
      height: 100%;

    }

    .lessonMenu .calendar-grid .calendar-day-selected:not(.calendar-day-outside):not(.calendar-day-before){
      border-radius: 50%;
      background-color: white;
      color:white;
    }

    .lessonMenu .calendar-grid .calendar-day-selected:not(.calendar-day-outside):not(.calendar-day-before) span{
      /* display: inline-block; */
      border-radius: 50%;
      background-color: rgba(17, 179, 187,0.7);
      color:white;
      
      /* min-height: 2rem; */
    }

    .lessonMenu .calendar-days > *{
      padding: 0.24rem;
      margin:0.15rem;
    }

    
    .lessonMenu .calendar-grid-wrapper{
      min-width: 150px;
    }
    
    .lessonMenu .calendar-title {
      font-size: 0.9rem;
    }

    .lessonMenu .calendar-days{
      font-size: 0.7rem;
    }

    .lessonMenu  .calendar-day-label.mobile{
      display: inline-block;
      
    }
    
    .lessonMenu  .calendar-day-label.desktop{
  
        display: none
  
    }

    .lessonMenu  .calendar .dropdown {
      margin-right: 0.5rem !important;
    }

    .lessonMenu  .calendarMenu .bottom button{
      font-size: 1.1rem;
      margin-bottom: 0.5rem;
      margin-right: 0.7rem;
    }


  }


   