.calendarMenu {
    /* width: 320px; */
  }
  
/* //----------// */

  .calendar-header {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
    background-color: red;
  }
  
  .calendar-btn {
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
    background: none;
    border: none;

  }

  
.calendar-title {
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

  .calendar-btn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  .calendar-grid-container {
    display: flex;
    justify-content: space-between;
    /* gap: 1rem; */
  }
  
  .calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    color: gray;
    font-size: 0.9rem;
  }

  .calendar-grid-wrapper {
    width: 48%;
   
  }
  
  .calendar-day-label {
    font-weight: 500;
  }
  
  .calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    margin-top: 0.3rem;
  }
  
  .calendar-day {
    padding: 0.3rem;
  }
  
  .calendar-day-outside {
    color: lightgray;
  }
  