#startImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-bottom-right-radius: 40px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15); /* Optional shadow */
    user-select: none;      /* Prevents text selection */
    -webkit-user-drag: none; /* Disables dragging in WebKit browsers */
    outline: none;         
}

section.index .topPortion .imgContainer {
    position: relative; /* Makes the container the reference for absolute positioning */
    width: 70%;
    height:720px;
}


section.index .topPortion span.welcomeText {
    color:#246265;
    font-size: 1.7rem;
    position: absolute;
    top: 130px;  
    left: 2.7rem; 
    text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3); /* X-offset, Y-offset, blur, color */
    user-select: none; /* Prevent text selection */

}

section.index .topPortion{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

section.index .topPortion .textContainer{
    font-size:1.8rem;
    position: relative;
    bottom:3rem;
    line-height: 120%;
    width:16rem;
    margin:0 auto;
    right:1rem;
}

section.index section.marginReviews{
    min-height: 300px;
} 


section.index .topPortion .textContainer *{
    color:#0c3567;
    user-select: none; 
}

section.index .topPortion .textContainer button{
    background-color: rgba(17, 179, 187, 0.8);
    color: white; 
    font-size: 1.7rem; 
    padding: 0.5rem 0.8rem; 
    border: none;
    border-radius: 0.6rem; 
    cursor: pointer;
}


section.index section.sports{
    margin-top:4rem;
    /* background-color: red; */
}

section.index section.sports h2{
    margin:0 auto;
    width: fit-content;
    margin-bottom:3rem;
    /* color:#0c3567; */
}

section.index div.sportContainer{
    width:20rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0; 
    margin:auto 1rem;

}

section.index section.sports img.sportImg{
    width:100%;
    height:15rem;
    object-fit: cover;
    border-radius: 0.7rem;
    border: none;
    transition: all .3s ease;
    display: block;


}


section.index section.sports .sportContainer:hover img.sportImg{
    transform: scale(1.2);

}


section.index section.sports button.selectSport{
    border:none;
    background: none;
    padding:0;
    margin:0;
    overflow: hidden;
    border-radius: 0.7rem;



}

section.index section.sports button:hover{
    cursor: pointer;
}


section.index section.sports button.selectSportDown{
    display: block;
    width:100%;
    background: none;
    padding:0;
    margin:0;
    border: none;
    border-radius: 0.6rem; 
}

section.index section.sports button.selectSportDown span{
    border-radius: 0.6rem; 
    margin:0 auto;
    margin-top:0.9rem;
    display: inline-block;
    padding:0.2rem 0.5rem;
    border:1px solid rgba(17, 179, 187, 0.8);
    color: rgba(17, 179, 187, 0.8); 
    font-size: 1.3rem; 
}

section.index div.allSportsContainer{
    display: flex;
    justify-content: center;

}



@media (min-width: 700px) and (max-width: 920px) {
    
    section.index .topPortion .imgContainer{
        width: 60%;
    }
    
}

@media (min-width: 920px) and (max-width: 1200px) {

    section.index .topPortion .imgContainer{
        width: 70%;
    }

}


@media (min-width: 700px) and (max-width: 1200px) {

    section.index .topPortion .imgContainer{
        height: 550px;
    }


    section.index .topPortion .textContainer{
        font-size: 1.5rem;
        width: 14rem;
        margin-right: 1rem;
    }

    section.index .topPortion .textContainer button{

        font-size: 1.5rem;
    }

    section.index .topPortion span.welcomeText {
        font-size: 1.5rem;
    }
}




@media (max-width: 700px) {

    section.index .topPortion{
        display: flex;
        flex-direction: column;
    }
    section.index .topPortion .imgContainer{
        width: 100%;
        height: 400px;
    }

    #startImg{
        border-bottom-right-radius: 20px;

    }


    section.index .topPortion span.welcomeText {
        font-size: 1.3rem;
        top: 90px;  
        left: 1.7rem; 
    }
    
    section.index .topPortion{  
        align-items: flex-start;   /* makes items align left horizontally */
        justify-content: flex-start; /* stacks items from the top */
    }
    
    section.index .topPortion .textContainer{
        position: static;
        margin-left: 1rem;
        width: fit-content;
        font-size: 1.3rem;
        margin-top: 1rem;
        display: flex;
    }

    section.index .topPortion .textContainer p{
        max-width: 18rem;
        margin-right: 1rem;

    }

    section.index .topPortion .textContainer button{
        font-size: 1.3rem ;
        height: fit-content;
        align-self: center;
        margin-right: 1rem;
    }

    section.index section.sports{
        margin-top: 2rem;
    }

    section.index section.sports h2{
        padding-left: 1rem;
        font-size: 1.3rem;
        margin-top: 0;
    }

    section.index div.allSportsContainer{
        display: grid;
        grid-template-columns: repeat(2, 0.5fr); 
        grid-template-rows: repeat(2, 0.5fr);   
        justify-items: center;    
        align-items: center;    
        gap:1rem;
        box-sizing: border-box; 
        width: 90%;
        margin: 0 auto;
    
    }

    section.index div.sportContainer{
        margin:0;
        box-sizing: border-box;
        width: fit-content;
    }

    section.index div.sportContainer .selectSportDown span{
        margin-bottom:0.7rem !important;
        font-size: 1.2rem !important;
    }

}


@media (max-width: 500px) {
    section.index section.sports img.sportImg{
        height: 12rem;
    }
}