#startImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-bottom-right-radius: 40px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15); /* Optional shadow */
    user-select: none;      /* Prevents text selection */
    -webkit-user-drag: none; /* Disables dragging in WebKit browsers */
    outline: none;         
}

.topPortion .imgContainer {
    position: relative; /* Makes the container the reference for absolute positioning */
    width: 70%;
    height:720px;
}


.topPortion span.welcomeText {
    color:#246265;
    font-size: 1.7rem;
    position: absolute;
    top: 130px;  
    left: 2.7rem; 
    text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3); /* X-offset, Y-offset, blur, color */
    user-select: none; /* Prevent text selection */

}

.topPortion{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.topPortion .textContainer{
    font-size:1.8rem;
    position: relative;
    bottom:3rem;
    line-height: 120%;
    width:16rem;
    margin:0 auto;
    right:1rem;
}


.topPortion .textContainer *{
    color:#0c3567;
    user-select: none; 
}

.topPortion .textContainer button{
    background-color: rgba(17, 179, 187, 0.8);
    color: white; 
    font-size: 1.7rem; 
    padding: 0.5rem 0.8rem; 
    border: none;
    border-radius: 0.6rem; 
    cursor: pointer;
}


section.sports{
    margin-top:4rem;
    /* background-color: red; */
}

section.sports h2{
    margin:0 auto;
    width: fit-content;
    margin-bottom:3rem;
    /* color:#0c3567; */
}

div.sportContainer{
    width:20rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0; 
    margin:auto 1rem;

}

section.sports img.sportImg{
    width:100%;
    height:15rem;
    object-fit: cover;
    border-radius: 0.7rem;
    border: none;
    transition: all .3s ease;
    display: block;


}


section.sports .sportContainer:hover img.sportImg{
    transform: scale(1.2);

}


section.sports button.selectSport{
    border:none;
    background: none;
    padding:0;
    margin:0;
    overflow: hidden;
    border-radius: 0.7rem;



}

section.sports button:hover{
    cursor: pointer;
}


section.sports button.selectSportDown{
    display: block;
    width:100%;
    background: none;
    padding:0;
    margin:0;
    border: none;
    border-radius: 0.6rem; 
}

section.sports button.selectSportDown span{
    border-radius: 0.6rem; 
    margin:0 auto;
    margin-top:0.9rem;
    display: inline-block;
    padding:0.2rem 0.5rem;
    border:1px solid rgba(17, 179, 187, 0.8);
    color: rgba(17, 179, 187, 0.8); 
    font-size: 1.3rem; 
}

div.allSportsContainer{
    display: flex;
    justify-content: center;

}

