.topBar {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 30px 0;
    padding-top:7rem;
  }
  
  .topBar .line-wrapper {
    position: relative;
    width: 90%;
    height: 10px;

  }

  .topBar img{
    width: 1.6rem;
  }

  .topBar .remaining-line{
    position: absolute;
    top: 0;
    height: 10px;
    border-radius: 5px;
    z-index: 0;
    border: 1px solid black;
  }

  /* Blue progress line */
  .topBar .progress-line {
    position: absolute;
    top: 0;
    left: 0;
    height: 10px;

    background-color: rgba(17, 179, 187, 0.8);
    border-radius: 5px;
    z-index: 1;
  }
  
  .topBar .circle {
    position: absolute;
    width: 2.6rem;
    height: 2.6rem;
    background-color: white;
    border-radius: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .topBar .circle-blue {
    border: 1px solid rgba(17, 179, 187, 0.8);
  }
  
  .topBar .circle-black {
    border: 1px solid black;
  }
  
  .topBar .circle-small {
    position: absolute;
    width: 11px;
    height: 11px;
    background-color: #41c2c9;
    border-radius: 50%;
    top: 0px;
    right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  .topBar .tick {
    color: white;
    font-size: 10px;
    position: relative;
  }
  

  .topBar svg.border{
    border: 2px solid black;
    border-radius: 20%;

  }

  .topBar .text {
    position: absolute;
    z-index: 1;
    top: 2rem;  
    transform: translateX(-50%); 
    font-size: 14px;
  }


@media (max-width:670px){

  .topBar .line-wrapper {

    height: 6px;
  }

  .topBar .remaining-line{

    height: 6px;

  }

  /* Blue progress line */
  .topBar .progress-line {

    height: 6px;
  }
  
  .topBar .circle {
    width: 1.9rem;
    height: 1.9rem;
  }

  
  .topBar .text {

    top: 1.5rem;  
    max-width: 5rem;
    /* background-color: red; */
    font-size: 13px;
    text-align: center;
    margin-right: 1rem;
    display: inline-block;
  }

  .topBar svg{
    scale:0.8
  }

  .topBar .circle-small {
    width: 11px;
    height: 11px;

    top: -2px;
    right: -2px;

  }
  
  
}


@media (max-width:400px){
  .topBar .text {
    font-size: 12px;
  }
}