section.instructorProfile{
    margin-left: 0rem;
    /* background-color: red; */
    width: 100%;

    box-sizing: border-box;
    overflow: hidden;
    position: relative;

}

section.instructorProfile *{
    box-sizing: border-box;
}



.instructorProfile .imageContainer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 390px; /* 260 + 100 */
    overflow: hidden;
    width: 100%;
  }
  
  /* Rectangle part */
  .instructorProfile .rectBackground {
    position: absolute;
    top: 0;
    width: 100%;
    height: 290px;
    background-color: #6ED7DD;
  }
  
  /* Elliptical part */
  .instructorProfile .ellipseBackground {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: #6ED7DD;
    border-bottom-left-radius: 85% 80%;
    border-bottom-right-radius: 60% 60%;
  }
  
  .instructorProfile .centerButton {
    z-index: 1;
    position: relative;
    right:4rem;
    padding:0;
    width: 13rem;
    height: 13rem;;
    /* margin-left: 37rem; */
    margin: 0 auto;
    margin-top: 5rem;
    background-color: #6ED7DD;
    border: none;
    border-radius: 50% 50%;
    cursor: pointer;
    clip-path: circle(50%);


  }

  .instructorProfile .centerButton  img,
  .instructorProfile .centerButton  svg{
    width: 100%;
    height: 100%;
    border-radius: 50% 50%;

  }

  .instructorProfile  svg{
    min-width: 1.5rem;

  }

  .instructorProfile .userInfo {
    margin-top: 5rem;
    padding-left:12rem;
    display: flex;
    width: fit-content !important;

    
  }

  .instructorProfile .userInfo > img{
    height: 9rem;
    margin-left:auto;
    margin-right: 4rem;
    position: relative;
    bottom:4rem;
  }
  
  .instructorProfile .userInfo .row{
    display: flex;
    margin-bottom:0.6rem;
  }

  .instructorProfile .userInfo .toggle-container .toggle-span{
    text-wrap:wrap;
    word-break: break-all;
    display: inline-block;
  }




  @media(max-height:800px){

    .instructorProfile .imageContainer{
      height: 300px;
    }

    .instructorProfile .rectBackground{
      height: 200px;
    }

    .instructorProfile .ellipseBackground{
      height: 100px;
    }

  }


  @media(max-width:1520px){

  
    .instructorProfile .userInfo {
      padding-left: 12rem;

    }


    .instructorProfile .userInfo .toggle-container .toggle-span{
      font-size: 1.2rem !important;
      margin-left: 0.2rem;
      margin-right: 0rem;
    }

    .instructorProfile .toggle-input{
      font-size: 1.2rem;
    }

    .instructorProfile .row.row .toggle-container:first-of-type{
      width: 30rem ;
    }

    .instructorProfile .row.row .toggle-container:last-of-type{
      width: fit-content;
    }

    .instructorProfile svg{
      scale:0.9
    }

    .instructorProfile .toggle-container .error{
      
      margin-left: 0.4rem;
    }

  }

  @media(max-width:1360px){
    .instructorProfile .rows .row{
      display: flex;
      flex-direction: column;
      margin-bottom: 0;
    }

    .instructorProfile .rows{
      margin-bottom: 2rem;
    }

    .instructorProfile .toggle-container {

      height: fit-content;
    }

    .instructorProfile .row.row .toggle-container{
      width: 25rem !important ;
    }

    .instructorProfile .rows .row:last-of-type .toggle-container:first-of-type .textContainer {
      display: flex;
      flex-direction: column;


    }

    .instructorProfile .textContainer{
        min-height: 0;
        height: fit-content;
        margin-bottom: 1rem;
      }

    /* .instructorProfile .rows .row:last-of-type .toggle-container:first-of-type .textContainer p.error{
      top:1.9rem
    } */

  }

  @media(max-width:900px){

    .instructorProfile .centerButton {
      right:0rem;
    }


    .instructorProfile .userInfo{
      flex-direction: column;
    }

    .instructorProfile .userInfo > img{
      height: 7rem;
      margin-top: 4rem;
    }

    .instructorProfile .toggle-button{
      margin-left: 0.3rem;
    }

    .instructorProfile .textContainer{
      width: fit-content !important;
    }


  }

  @media(max-width:600px){
    
    
    .instructorProfile .row.row .toggle-container{
      max-width: 20rem !important ;
      width: fit-content !important;
    }

    .instructorProfile .row.row .toggle-container .textContainer{
      display: flex;
      flex-direction: column;
    }

    .instructorProfile .userInfo{
      padding-left: 6rem;
    }

    .instructorProfile .toggle-input{
      width: 14rem;
    }


  }


  @media(max-width:450px){
    .instructorProfile .userInfo{
      padding-left: 3.5rem;
      margin-top: 2rem;
    }

    .instructorProfile .imageContainer {
      height: 250px;
    }

    .instructorProfile .rectBackground {
      height: 180px;
    }

    .instructorProfile .ellipseBackground {
      height: 70px;
    }

    .instructorProfile .centerButton{
      width: 10rem;
      height: 10rem;
      margin-top: 3rem;
    }
    .instructorProfile .userInfo .toggle-container .toggle-span {
      font-size: 1.1rem !important;
    }

    .instructorProfile svg{
      scale:0.85
    }

    .instructorProfile .toggle-input{
      font-size: 1.1rem;
    }

    
    .instructorProfile .userInfo > img{
      height: 7rem;
      margin-top: 7rem;
    }

    .instructorProfile .toggle-input{
      width: 13rem;
    }

  }