.instructorInfoPage{
   padding-top:6rem;


}


.instructorInfoPage .instructorInfoContainer{
    width: 95%;
    margin: 0 auto;
    display: flex;
}

.instructorInfoPage .instructorInfoContainer .left .top{
    width: 16rem;
    padding:1rem;
    border: 1px solid black;
    border-radius: 1rem;
    max-width: 16rem;
    box-sizing: border-box;
}

.instructorInfoPage .instructorInfoContainer .left .top h4{
    margin: 0;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
}

.instructorInfoPage .instructorInfoContainer .left .top > img{
    height: 12rem;
    border-radius: 1rem;
    width: 100%;

}

.instructorInfoPage .instructorInfoContainer .left .top > span{
    display: flex;
}

.instructorInfoPage .instructorInfoContainer .left .top > span:first-of-type{
    margin-top: 0.5rem;
    margin-bottom: 0.4rem;    
}


.instructorInfoPage .instructorInfoContainer .left .top > span img{
    margin-top: 0;
    margin-right: 0.2rem;
    margin-left: 0;

}

.instructorInfoPage .instructorInfoContainer .left .top > span svg{
    height: 1.3rem;
    position: relative;
    margin-right: 0.05rem;
    bottom: 0.1rem;
    right:0.1rem
}

.instructorInfoPage .instructorInfoContainer .left {
    max-width: 16rem;
    box-sizing: border-box;
}

.instructorInfoPage .instructorInfoContainer .left button{
    background-color: rgba(17, 179, 187, 0.8);
    color: white;
    padding: 0.5rem 0.4rem;
    border-radius: 0.4rem;
    border:none;
    cursor: pointer;
    margin-top:0.8rem;
    width: 100%;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    box-sizing: border-box;

}

.instructorInfoPage .instructorInfoContainer .left button svg{
    position: relative;
    top:0.05rem;
    margin-right: 0.5rem;
}

.instructorInfoPage .instructorInfoContainer .right {
    margin-left: 4rem;

}
.instructorInfoPage .instructorInfoContainer .right .attributes{
    margin-top: 4rem;
    display: flex;
}


.instructorInfoPage .instructorInfoContainer .right .attributes .column{
    display: flex;
    flex-direction: column;
}

.instructorInfoPage .instructorInfoContainer .right .attributes .column .cancelationPolicy{
    display: inline-block;
    width: fit-content;
}

.instructorInfoPage .instructorInfoContainer .right .attributes .column:first-of-type{
    margin-right: 1rem;
}

.instructorInfoPage .instructorInfoContainer .right .attributes .column span, .instructorInfoPage .instructorInfoContainer .right .attributes .column div{
    display: inline-block;
    margin-bottom: 1rem;
    max-width: 20rem;
    min-height: 1.5rem;
    
}

.instructorInfoPage .instructorInfoContainer .right .attributes .column div{
    padding-top: 0.2rem;
    display: flex;
    align-items: flex-start;

}

.instructorInfoPage .instructorInfoContainer .right .attributes .column span{
    display: inline-flex;
     align-items: flex-start; /* aligns image with the top of text */
     gap: 0.5rem; /* spacing between image and text */
}


.instructorInfoPage .instructorInfoContainer .right .attributes .column span img{
    height: 1.2rem;
}

.instructorInfoPage .instructorInfoContainer .right .attributes .column span svg:first-child {
    top:0.3rem ;
}

.instructorInfoPage .instructorInfoContainer .right .attributes .column span svg.languages{
    height: 1.2rem;

}

.instructorInfoPage .instructorInfoContainer .right .attributes .column button{
    position: relative;
    top:0.1rem;
    left:0.1rem;
    width: 0.9rem;
    height: 1rem;
    background:none;
    border:2px solid black;
    padding:0;
    margin-right: 0.9rem;
}

.instructorInfoPage .instructorInfoContainer .right .attributes .column button svg{
    width: 100%;
    height: 100%;
}


@media (max-width:1100px){


    .instructorInfoPage .instructorInfoContainer .right .attributes{
        flex-direction: column !important;
    }

    .instructorInfoPage .instructorInfoContainer .right{
        margin-left: 2rem;
    }
}


@media(max-width:700px){
    .instructorInfoPage .instructorInfoContainer{
        flex-direction: column;
    }

    .instructorInfoPage .instructorInfoContainer .right .attributes {
        
        margin-top: 2rem;

    }

    .instructorInfoPage .instructorInfoContainer{
        width: fit-content;
        max-width: 80%;
    }

    .instructorInfoPage .instructorInfoContainer .right .attributes .column{
        margin-right: 0 !important;
    }

    .instructorInfoPage .instructorInfoContainer .right .attributes .column span, .instructorInfoPage .instructorInfoContainer .right .attributes .column div{
        max-width: 100%;
        width: 100%;
    }

    .instructorInfoPage .instructorInfoContainer .right{
        margin-left: 0rem;
    }

    .instructorInfoPage .biography{
        margin-top: 0;
    }
}


@media(max-width:700px){
   
    .instructorInfoPage .instructorInfoContainer{
        max-width: 90%;
    }
}