.toggle-container {
    display: flex;
    align-items: center;
    min-height:2.2rem;
    margin-right: 0.5rem;
    margin-left: 0;
    margin-bottom: 0.5rem;
    position: relative;
  }

  .studentProfile .row .toggle-container:first-of-type,   .instructorProfile .row .toggle-container:first-of-type {
    /* width: 35rem; */
    width: 35rem;
  }

  .toggle-container .error{
    /* position: absolute; */
    color: rgb(198, 19, 48);
    margin-left: 0.6rem;
    margin-top: 0rem;
    margin-bottom: 0;
    width: fit-content;
  }

  .toggle-container  svg.firstName{
    position: relative;
    bottom:0.1rem;
  }

  .toggle-container  svg{
    margin-right: 0.4rem;
  }
  
  .toggle-span {
    margin-left: 0.5rem;
    margin-right: 0.2rem;
    font-size: 1.4rem ;

  }
  
  .toggle-input {
    font-size: 1.4rem ;
    padding-left: 0.2rem;
    width: 16rem;
    margin-left: 0.5rem;
    border: none;
    background: none;
    height: 1.4rem;
    border-bottom: 1px solid black; /* Ensuring the bottom border is visible */
    outline: none; /* Removes the default focus outline */
    box-shadow: none; /* Removes any shadow on focus */


  }
  
  .toggle-button {
    /* height: 1rem; */
    margin-left: 0.7rem;
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-grow: 1;
    height: 100% !important;
  }

  .studentProfile .row.row .toggle-container, .instructorProfile .row.row .toggle-container {
    display: flex;
    height: fit-content;
    align-items: flex-start;
  }

  .studentProfile .textContainer, .instructorProfile .row.row .toggle-container{       
    min-height: 3rem;
    height: fit-content;
    flex-shrink: 1;     /* shrink if needed */
    flex-grow: 0; 
    flex-basis: auto; 
  }